
@import '_colors'
@import '_variables'

.erase-icon
    display: inline-block
    position: relative
    cursor: pointer
    font-size: 16px
    top: 2px
    left: 46px
    color:$colorthirdgrey
.erase-icon[active='true']
    color:$colormain

.modal-close
    position: sticky
    color: $colortext
    z-index: 1
    top: 10px
    height: 0px
    text-align: right
    font-size: 30px
    cursor: pointer
    width: calc(100% - 10px)

/***************************************** ASSET PICKERS ****************************************

.asset-picker
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    display: block
    background: $colordarkgrey
    color: $colormain
    overflow: hidden auto
    background: $colordarkgrey
    z-index: 5

.picker-with-dropzone
    height: calc(100% - 110px)
    padding-bottom: 110px

.asset-button
    position: relative
    width: 80px
    height: 80px
    border: 3px
    background: $colorgrey
    color: $colormain
    margin: 5px
    margin-left: 7px
    display: inline-block
    float: left
    padding: 5px
    overflow-wrap: break-word
    cursor: pointer
    background-size: cover
    transition: all ease 200ms
    &:hover
        background: $colorthirdgrey

    .asset-text
        position: relative
        font-size: 16px
        z-index: 2

    .backicon
        font-size: 50px
        position: absolute
        width: 100%
        display: block
        top: 0px
        left: 0px
        padding: 20px
        opacity: 0.5
        z-index: 0
        color: $colorlightgrey

.no-asset-button
    font-size: 60px
    color: $colortext
    background: $colordarkgrey

.no-asset-icon
    margin: 10px

.delete-asset-button
    position: absolute
    left: 82px
    top: -3px
    width: 13px
    height: 13px
    font-size: 13px
    background: $colorthirdgrey
    color: $colormain
    border-radius: 8px
    z-index: 11

.picker-button
    position: absolute
    left: 66px
    border: 2px solid $colorthirdgrey
    width: 36px
    height: 16px
    border-radius: $defaultborderradius
    border-color: $colorthirdgrey
    cursor: pointer

.picker-button[active='true']
    border-color: $colormain

/***************************************** IMAGE ASSET BUTTON ****************************************

.input-asset-image
    position: relative
    height: auto
    min-height: 40px
    margin-bottom: 8px
    background: $colordarkgrey
    cursor: pointer
    width: $defaultwithinput
    left: 135px
    &:hover
        .image-hover
            opacity: 1

.image-text-container
    position: absolute
    background: transparentize($colordarkgrey, .2)
    width: 100%
    height: 100%
    opacity: 1
    z-index: 10
    text-align: center
    line-height: 20px
    color: $colortext
    font-size: 16px
    transition: opacity 200ms ease

.image-hover
    background: transparentize($colormain, .2)
    opacity: 0
    z-index: 100

.image-hover-text
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 100%
    height: auto
    overflow: hidden
    text-overflow: ellipsis

/***************************************** TEXT ASSET BUTTON ****************************************

.input-asset-text
    position: relative
    height: auto
    min-height: 22px
    margin-bottom: 8px
    cursor: pointer
    width: $defaultwithinput
    font-size: 13px
    &:hover
        .text-hover
            opacity: 1

.text-hover
    position: absolute
    left: 22px
    background: $colormain
    border-radius: 5px
    height: auto
    width: $defaultwithinput - 30
    opacity: 0
    z-index: 10
    padding: 5px
    color: $colortext
    text-align: center
    transition: opacity 200ms ease
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.text-asset-name
    position: absolute
    left: 22px
    background: $colordarkgrey
    border-radius: 5px
    width: $defaultwithinput - 30
    height: auto
    padding: 5px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.text-erase-icon
    position: absolute
    cursor: pointer
    font-size: 16px
    top: 5px
    left: 0px