
@import '_colors'
@import '_variables'

/***************************************** BUTTON ****************************************

.button
    position: relative
    top: 3px
    margin: 5px
    width: 180px
    height: 14px
    color: $colortext
    display: inline-block
    min-height: 24px
    transition: opacity 0.3s
    transition: background-color 0.3s
    cursor: pointer
    line-height: 24px
    text-align: center
    text-decoration: none
    font-size: 13px
    font-weight: 600
    padding: 3px
    border-radius: $defaultborderradius
    border: 0px
    transition: all 200ms ease
    color: rgba($colortext, 0.8)
    &:hover
        box-shadow: 0px 0px 2px 2px $colordarkgrey
        background: rgba($colormain, 0.5)
        color: $colortext

.button-primary
    background: $colormain

.button-secondary
    background: $colorthirdgrey

.small-icon-button
    position: relative
    left: 10px
    top: 0px
    width: 18px
    height: 18px
    font-size: 12
    color: $colortext
    background: $colorthirdgrey
    border-radius: 10px
    z-index: 10

.button
    .path1:before
        transition: color 200ms ease
        color: $colortext
    .path2:before
        color: $colortext
        transition: all 200ms ease
    .path3:before
        transition: color 200ms ease
        color: $colortext

    &:hover
        .path1:before
            color: $colordarkgrey
        .path2:before
            color: $colordarkgrey
        .path3:before
            color: $colordarkgrey

.path1:before
    color: inherit
.path2:before
    color: inherit
.path3:before
    color: inherit

.input-button
    height: 30px
    line-height: 30px !important
    font-weight: 600
    text-align: center
    border-radius: $defaultborderradius
    cursor: pointer
    transition: all 200ms ease
    color: $colortext
    opacity: 0.8
    background: $colorthirdgrey
    &:hover
        background: rgba($colormain, 0.5)
        // box-shadow: 0px 0px 2px 2px $colordarkgrey
        opacity: 1
        // color: $colortext

.input-button-center
    font-size: 13px
    position: relative
    margin: 5px 0px
    left: 55px
    width: 150px

.input-button-icon
    font-size: 18px 
    position: relative
    height: $defaultheightinput
    line-height: $defaultheightinput !important
    width: 100%