//
//Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:        https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:        https://www.siimple.xyz
//
@import "_colors.sass"
@import '_variables'

//Checkbox variables
$checkbox-width: 18px
$checkbox-height: 25px

.btn-toggle
    padding: 0
    position: relative
    border: none
    color: $colormain
    background: $colorthirdgrey
    cursor: pointer

    &:focus, &.focus, &:focus[checked='true'], &.focus[checked='true']
        outline: none

    &.btn-sm
        &:before, &:after
            line-height: -0.5rem
            color: $colortext
            letter-spacing: 0.75px
            left: 0.4125rem
            width: 2.325rem

        &:before
            text-align: right

        &:after
            text-align: left
            opacity: 0

        &[checked='true']
            &:before
                opacity: 0

            &:after
                opacity: 1

    &:before, &:after
        color: $colormain

    &[checked='true']
        background-color: $colormain

    &.btn-sm
        padding: 0
        position: absolute
        right: 0px
        top: 3px
        border: none
        height: $checkbox-height
        width: $widthinput
        border-radius: $borderradius

        &:focus, &.focus, &:focus[checked='true'], &.focus[checked='true']
            outline: none

        &:before, &:after
            line-height: 1.5rem
            width: 0.5rem
            text-align: center
            font-size: $fontsizeinput
            position: absolute
            bottom: 0
            // Removed transition because it bugs due to other canvas animation like screenshot
            // transition: all 0.1s

        &:before
            content: 'Off'
            font-family: "Noto Sans", sans-serif
            left: 1rem

        &:after
            content: 'On'
            font-family: "Noto Sans", sans-serif
            opacity: 0.5
            left: 0.5rem

        > .handle
            position: absolute
            top: $border
            left: $border
            width: $checkbox-height - (2 * $border)
            height: $checkbox-height - (2 * $border)
            border-radius: $borderradius
            background: $colortext
            // transition: all 0.1s

        &[checked='true']
            > .handle
                left: 2.5rem

            &:before
                opacity: 0.5

            &:after
                opacity: 1

        &.btn-sm
            &:before, &:after
                line-height: -0.5rem
                color: $colortext
                letter-spacing: 0.75px
                width: 2.325rem

            &:before
                text-align: right

            &:after
                text-align: left
                opacity: 0

            &[checked='true']
                &:before
                    opacity: 0

                &:after
                    opacity: 1