
@import '_colors'
@import '../node_modules/@simonwep/pickr/src/scss/themes/nano.scss'

/***************************************** PICKERS ****************************************

.picker
    border-radius: 10px
    z-index: 200

.picker-title
    left: 0px
    top: 0px
    width: calc(100% - 5px)
    height: 20px
    line-height: 20px
    padding-left: 5px
    font-size: 15px
    text-transform: capitalize
    color: $colortext
    border-radius: 5px 5px 0px 0px
    background-color: $colormain

.picker-title-text
    position:  absolute
    left: 10px

.erase-icon
    display: inline-block
    position: relative
    cursor: pointer
    font-size: 16px
    top: 2px
    left: 46px
    color:$colorthirdgrey
.erase-icon[active='true']
    color:$colormain

.picker-button
    position: absolute
    left: 66px
    border: 2px solid $colorthirdgrey
    width: 36px
    height: 16px
    border-radius: $defaultborderradius
    border-color: $colorthirdgrey
    cursor: pointer

.picker-button[active='true']
    border-color: $colormain

/***************************************** COLOR BUTTON ****************************************

.color-picker-background-opacity
    position: absolute
    top: 0px
    right: 0px
    height: 100%
    width: 100%
    background-color: rgba($colordarkgrey, 0.8)

.color-background
    width: 100%
    height: 100%
    position: absolute
    z-index: 1

.color-default-background
    position: absolute
    overflow: hidden
    content: ""
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>')
    background-size: 0.5em
    z-index: 0

.color-picker
    position: absolute
    height: auto
    width: 100%
    display: inline-block
    right: 0px
    top: 50%
    transform: translateY(-50%)
    z-index: 1000

    .color-picker-background
        // box-shadow: 0px 0px 10px 2px $colortext
        position: absolute
        width: 100%
        height: 100%
        z-index: 1000
        background-color: $colorgrey
        border-radius: 5px


    .pcr-app
        position: relative !important
        margin: 12px 9px !important
        top: 0px !important
        left: 0px !important
        width: calc(100% - 20px) !important
        background-color: $colorgrey !important
        box-shadow: none !important

        input[type='text']
            position: relative !important
            box-shadow: none !important
            width: 125px

        input[type='button']
            background: $colormain !important
            color: $colortext !important
            padding: 5px 10px
            border-radius: 2px
            cursor: pointer  
            margin-left: 2px
            box-shadow: none !important

        .pcr-interaction-naker
            margin: 10px 10px 0px 10px

            .valid-button
                background: #FF0872
                top: 1px
                width: 70px
                text-align: center
                height: auto
                font-size: 15px
                margin: 0px
                margin-left: 5px

        .pcr-current-color
            border: 1px solid $colorgrey !important

        .pcr-swatches 
            .add-in-palette
                // border: 1px solid $colortext !important
                color: $colortext
                cursor: pointer
                width: 22px
                font-size: 22px
                font-weight: 600

            button
                border: 2px solid $colortext !important
                color: $colortext
                box-shadow: none !important
