@font-face {
    font-family: 'icomoon';
    src: url('https://asset.naker.io/font/engine/v2/icomoon.eot?au4g1p');
    src: url('https://asset.naker.io/font/engine/v2/icomoon.eot?au4g1p#iefix') format('embedded-opentype'),
        url('https://asset.naker.io/font/engine/v2/icomoon.ttf?au4g1p') format('truetype'),
        url('https://asset.naker.io/font/engine/v2/icomoon.woff?au4g1p') format('woff'),
        url('https://asset.naker.io/font/engine/v2/icomoon.svg?au4g1p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-upload:before {
    content: "\e9fe";
}

.icon-save:before {
    content: "\e9fd";
}

.icon-Caption-middle-H:before {
    content: "\e93f";
}

.icon-Caption-right:before {
    content: "\e9fb";
}

.icon-Caption-left:before {
    content: "\e9fc";
}

.icon-Caption-middle-V:before {
    content: "\e9f8";
}

.icon-Caption-top:before {
    content: "\e98c";
}

.icon-Copy-paste:before {
    content: "\e9f9";
}

.icon-Caption-down:before {
    content: "\e9fa";
}

.icon-Mouse-move:before {
    content: "\e93e";
}

.icon-duplicate .path1:before {
    content: "\e907";
}

.icon-duplicate .path2:before {
    content: "\e908";
    margin-left: -1em;
}

.icon-duplicate .path3:before {
    content: "\e93a";
    margin-left: -1em;
}

.icon-duplicate .path4:before {
    content: "\e93b";
    margin-left: -1em;
}

.icon-duplicate .path5:before {
    content: "\e93c";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-duplicate .path6:before {
    content: "\e93d";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-Home:before {
    content: "\e905";
}

.icon-move:before {
    content: "\e903";
}

.icon-Interactivity-preset:before {
    content: "\e904";
}

.icon-Gizmo:before {
    content: "\e900";
}

.icon-Scale:before {
    content: "\e901";
}

.icon-Interactivity-show:before {
    content: "\e902";
}

.icon-Interactivity-rotation:before {
    content: "\e906";
}

.icon-Scroll:before {
    content: "\e909";
}

.icon-X-Y-Z-axis:before {
    content: "\e90a";
}

.icon-add .path1:before {
    content: "\e90b";
}

.icon-add .path2:before {
    content: "\e90c";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-add .path3:before {
    content: "\e90d";
    margin-left: -1em;
}

.icon-addwhite .path1:before {
    content: "\e90e";
    color: rgb(255, 255, 255);
}

.icon-addwhite .path2:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(255, 255, 255);
    opacity: 0.2;
}

.icon-addwhite .path3:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-alternate:before {
    content: "\e911";
}

.icon-analytics .path1:before {
    content: "\e912";
    opacity: 0.3;
}

.icon-analytics .path2:before {
    content: "\e913";
    margin-left: -1em;
}

.icon-analytics .path3:before {
    content: "\e914";
    margin-left: -1em;
}

.icon-analytics .path4:before {
    content: "\e915";
    margin-left: -1em;
}

.icon-analytics .path5:before {
    content: "\e916";
    margin-left: -1em;
}

.icon-analytics .path6:before {
    content: "\e917";
    margin-left: -1em;
}

.icon-analytics .path7:before {
    content: "\e918";
    margin-left: -1em;
}

.icon-analytics .path8:before {
    content: "\e919";
    margin-left: -1em;
    opacity: 0.3;
}

.icon-analytics .path9:before {
    content: "\e91a";
    margin-left: -1em;
    opacity: 0.3;
}

.icon-back:before {
    content: "\e91b";
}

.icon-click:before {
    content: "\e91c";
}

.icon-close .path1:before {
    content: "\e91d";
}

.icon-close .path2:before {
    content: "\e91e";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-close .path3:before {
    content: "\e91f";
    margin-left: -1em;
}

.icon-collapse:before {
    content: "\e920";
}

.icon-color .path1:before {
    content: "\e921";
    opacity: 0.2;
}

.icon-color .path2:before {
    content: "\e922";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-color .path3:before {
    content: "\e923";
    margin-left: -1em;
}

.icon-copypaste .path1:before {
    content: "\e924";
    opacity: 0.2;
}

.icon-copypaste .path2:before {
    content: "\e925";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-copypaste .path3:before {
    content: "\e926";
    margin-left: -1em;
}

.icon-cube .path1:before {
    content: "\e927";
    opacity: 0.3;
}

.icon-cube .path2:before {
    content: "\e928";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-cube .path3:before {
    content: "\e929";
    margin-left: -1em;
}

.icon-cubemap .path1:before {
    content: "\e92a";
    opacity: 0.2;
}

.icon-cubemap .path2:before {
    content: "\e92b";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-cubemap .path3:before {
    content: "\e92c";
    margin-left: -1em;
}

.icon-cylinder .path1:before {
    content: "\e92d";
    opacity: 0.3;
}

.icon-cylinder .path2:before {
    content: "\e92e";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-cylinder .path3:before {
    content: "\e92f";
    margin-left: -1em;
}

.icon-delete .path1:before {
    content: "\e930";
}

.icon-delete .path2:before {
    content: "\e931";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-delete .path3:before {
    content: "\e932";
    margin-left: -1em;
}

.icon-directional .path1:before {
    content: "\e933";
    opacity: 0.2;
}

.icon-directional .path2:before {
    content: "\e934";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-directional .path3:before {
    content: "\e935";
    margin-left: -1em;
}

.icon-disc .path1:before {
    content: "\e936";
    color: rgb(255, 255, 255);
}

.icon-disc .path2:before {
    content: "\e937";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-disc .path3:before {
    content: "\e938";
    margin-left: -1em;
}

.icon-dive:before {
    content: "\e939";
}

.icon-enter:before {
    content: "\e940";
}

.icon-expand:before {
    content: "\e941";
}

.icon-exportvideo .path1:before {
    content: "\e942";
    opacity: 0.2;
}

.icon-exportvideo .path2:before {
    content: "\e943";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-exportvideo .path3:before {
    content: "\e944";
    margin-left: -1em;
}

.icon-facebook:before {
    content: "\e945";
}

.icon-forward:before {
    content: "\e946";
}

.icon-fullscreen:before {
    content: "\e947";
}

.icon-group .path1:before {
    content: "\e948";
    opacity: 0.2;
}

.icon-group .path2:before {
    content: "\e949";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-group .path3:before {
    content: "\e94a";
    margin-left: -1em;
}

.icon-hd .path1:before {
    content: "\e94b";
}

.icon-hd .path2:before {
    content: "\e94c";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-hd .path3:before {
    content: "\e94d";
    margin-left: -1em;
}

.icon-heightmap .path1:before {
    content: "\e94e";
    opacity: 0.3;
}

.icon-heightmap .path2:before {
    content: "\e94f";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-heightmap .path3:before {
    content: "\e950";
    margin-left: -1em;
}

.icon-help .path1:before {
    content: "\e951";
}

.icon-help .path2:before {
    content: "\e952";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-help .path3:before {
    content: "\e953";
    margin-left: -1em;
}

.icon-hotspot .path1:before {
    content: "\e954";
}

.icon-hotspot .path2:before {
    content: "\e955";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-hotspot .path3:before {
    content: "\e956";
    margin-left: -1em;
}

.icon-hover:before {
    content: "\e957";
}

.icon-icosphere .path1:before {
    content: "\e958";
    color: rgb(124, 252, 240);
}

.icon-icosphere .path2:before {
    content: "\e959";
    margin-left: -1em;
    color: rgb(124, 232, 240);
}

.icon-icosphere .path3:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(118, 126, 224);
}

.icon-icosphere .path4:before {
    content: "\e95b";
    margin-left: -1em;
    color: rgb(125, 190, 239);
}

.icon-icosphere .path5:before {
    content: "\e95c";
    margin-left: -1em;
    color: rgb(125, 248, 240);
}

.icon-icosphere .path6:before {
    content: "\e95d";
    margin-left: -1em;
    color: rgb(123, 240, 238);
}

.icon-icosphere .path7:before {
    content: "\e95e";
    margin-left: -1em;
    color: rgb(120, 200, 231);
}

.icon-icosphere .path8:before {
    content: "\e95f";
    margin-left: -1em;
    color: rgb(126, 196, 239);
}

.icon-icosphere .path9:before {
    content: "\e960";
    margin-left: -1em;
    color: rgb(109, 101, 208);
}

.icon-icosphere .path10:before {
    content: "\e961";
    margin-left: -1em;
    color: rgb(89, 60, 167);
}

.icon-icosphere .path11:before {
    content: "\e962";
    margin-left: -1em;
    color: rgb(124, 117, 236);
}

.icon-icosphere .path12:before {
    content: "\e963";
    margin-left: -1em;
    color: rgb(122, 142, 232);
}

.icon-icosphere .path13:before {
    content: "\e964";
    margin-left: -1em;
    color: rgb(124, 205, 238);
}

.icon-icosphere .path14:before {
    content: "\e965";
    margin-left: -1em;
    color: rgb(101, 107, 193);
}

.icon-icosphere .path15:before {
    content: "\e966";
    margin-left: -1em;
    color: rgb(104, 86, 196);
}

.icon-icosphere .path16:before {
    content: "\e967";
    margin-left: -1em;
    color: rgb(84, 12, 158);
}

.icon-icosphere .path17:before {
    content: "\e968";
    margin-left: -1em;
    color: rgb(85, 12, 160);
}

.icon-icosphere .path18:before {
    content: "\e969";
    margin-left: -1em;
    color: rgb(68, 22, 142);
}

.icon-icosphere .path19:before {
    content: "\e96a";
    margin-left: -1em;
    color: rgb(68, 19, 137);
}

.icon-icosphere .path20:before {
    content: "\e96b";
    margin-left: -1em;
    color: rgb(106, 15, 199);
}

.icon-icosphere .path21:before {
    content: "\e96c";
    margin-left: -1em;
    color: rgb(92, 13, 173);
}

.icon-icosphere .path22:before {
    content: "\e96d";
    margin-left: -1em;
    color: rgb(68, 10, 128);
}

.icon-icosphere .path23:before {
    content: "\e96e";
    margin-left: -1em;
    color: rgb(69, 14, 140);
}

.icon-icosphere .path24:before {
    content: "\e96f";
    margin-left: -1em;
    color: rgb(78, 11, 147);
}

.icon-icosphere .path25:before {
    content: "\e970";
    margin-left: -1em;
    color: rgb(83, 12, 156);
}

.icon-icosphere .path26:before {
    content: "\e971";
    margin-left: -1em;
    color: rgb(68, 11, 127);
}

.icon-icosphere .path27:before {
    content: "\e972";
    margin-left: -1em;
    color: rgb(100, 105, 192);
}

.icon-icosphere .path28:before {
    content: "\e973";
    margin-left: -1em;
    color: rgb(77, 16, 144);
}

.icon-icosphere .path29:before {
    content: "\e974";
    margin-left: -1em;
    color: rgb(125, 240, 240);
}

.icon-image .path1:before {
    content: "\e975";
    opacity: 0.2;
}

.icon-image .path2:before {
    content: "\e976";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-image .path3:before {
    content: "\e977";
    margin-left: -1em;
}

.icon-intalemenu .path1:before {
    content: "\e978";
}

.icon-intalemenu .path2:before {
    content: "\e979";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-intalemenu .path3:before {
    content: "\e97a";
    margin-left: -1em;
}

.icon-left:before {
    content: "\e97b";
}

.icon-light .path1:before {
    content: "\e97c";
    opacity: 0.2;
}

.icon-light .path2:before {
    content: "\e97d";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-light .path3:before {
    content: "\e97e";
    margin-left: -1em;
}

.icon-like .path1:before {
    content: "\e97f";
}

.icon-like .path2:before {
    content: "\e980";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-like .path3:before {
    content: "\e981";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-link:before {
    content: "\e982";
}

.icon-linkedin:before {
    content: "\e983";
}

.icon-lock .path1:before {
    content: "\e984";
}

.icon-lock .path2:before {
    content: "\e985";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-lock .path3:before {
    content: "\e986";
    margin-left: -1em;
}

.icon-loop:before {
    content: "\e987";
}

.icon-menu:before {
    content: "\e988";
}

.icon-model .path1:before {
    content: "\e989";
    opacity: 0.3;
}

.icon-model .path2:before {
    content: "\e98a";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-model .path3:before {
    content: "\e98b";
    margin-left: -1em;
}

.icon-none:before {
    content: "\e98d";
}

.icon-once:before {
    content: "\e98e";
}

.icon-particles .path1:before {
    content: "\e98f";
    opacity: 0.2;
}

.icon-particles .path2:before {
    content: "\e990";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-particles .path3:before {
    content: "\e991";
    margin-left: -1em;
}

.icon-pause .path1:before {
    content: "\e992";
}

.icon-pause .path2:before {
    content: "\e993";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-pause .path3:before {
    content: "\e994";
    margin-left: -1em;
}

.icon-performance .path1:before {
    content: "\e995";
}

.icon-performance .path2:before {
    content: "\e996";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-performance .path3:before {
    content: "\e997";
    margin-left: -1em;
}

.icon-person .path1:before {
    content: "\e998";
}

.icon-person .path2:before {
    content: "\e999";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-person .path3:before {
    content: "\e99a";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-picture .path1:before {
    content: "\e99b";
    opacity: 0.2;
}

.icon-picture .path2:before {
    content: "\e99c";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-picture .path3:before {
    content: "\e99d";
    margin-left: -1em;
}

.icon-plane .path1:before {
    content: "\e99e";
    color: rgb(255, 255, 255);
}

.icon-plane .path2:before {
    content: "\e99f";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-plane .path3:before {
    content: "\e9a0";
    margin-left: -1em;
}

.icon-play .path1:before {
    content: "\e9a1";
    opacity: 0.2;
}

.icon-play .path2:before {
    content: "\e9a2";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-play .path3:before {
    content: "\e9a3";
    margin-left: -1em;
}

.icon-playwhite .path1:before {
    content: "\e9a4";
    color: rgb(255, 255, 255);
    opacity: 0.2;
}

.icon-playwhite .path2:before {
    content: "\e9a5";
    margin-left: -1em;
    color: rgb(255, 255, 255);
    opacity: 0.2;
}

.icon-playwhite .path3:before {
    content: "\e9a6";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-point .path1:before {
    content: "\e9a7";
    opacity: 0.2;
}

.icon-point .path2:before {
    content: "\e9a8";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-point .path3:before {
    content: "\e9a9";
    margin-left: -1em;
}

.icon-pointofview .path1:before {
    content: "\e9aa";
    opacity: 0.3;
}

.icon-pointofview .path2:before {
    content: "\e9ab";
    margin-left: -1em;
    opacity: 0.3;
}

.icon-pointofview .path3:before {
    content: "\e9ac";
    margin-left: -1em;
}

.icon-preview .path1:before {
    content: "\e9ad";
    opacity: 0.2;
}

.icon-preview .path2:before {
    content: "\e9ae";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-preview .path3:before {
    content: "\e9af";
    margin-left: -1em;
}

.icon-projects:before {
    content: "\e9b0";
}

.icon-publish:before {
    content: "\e9b1";
}

.icon-right:before {
    content: "\e9b2";
}

.icon-rotate:before {
    content: "\e9b3";
}

.icon-scroll:before {
    content: "\e9b4";
}

.icon-search .path1:before {
    content: "\e9b5";
    opacity: 0.2;
}

.icon-search .path2:before {
    content: "\e9b6";
    margin-left: -1em;
}

.icon-searching .path1:before {
    content: "\e9b7";
    opacity: 0.2;
}

.icon-searching .path2:before {
    content: "\e9b8";
    margin-left: -1em;
}

.icon-shadowoff .path1:before {
    content: "\e9b9";
    opacity: 0.2;
}

.icon-shadowoff .path2:before {
    content: "\e9ba";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-shadowoff .path3:before {
    content: "\e9bb";
    margin-left: -1em;
}

.icon-shadowon .path1:before {
    content: "\e9bc";
}

.icon-shadowon .path2:before {
    content: "\e9bd";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-shadowon .path3:before {
    content: "\e9be";
    margin-left: -1em;
}

.icon-shortcuts:before {
    content: "\e9bf";
}

.icon-show .path1:before {
    content: "\e9c0";
    opacity: 0.2;
}

.icon-show .path2:before {
    content: "\e9c1";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-show .path3:before {
    content: "\e9c2";
    margin-left: -1em;
}

.icon-sound .path1:before {
    content: "\e9c3";
}

.icon-sound .path2:before {
    content: "\e9c4";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-sound .path3:before {
    content: "\e9c5";
    margin-left: -1em;
}

.icon-soundoff .path1:before {
    content: "\e9c6";
    opacity: 0.2;
}

.icon-soundoff .path2:before {
    content: "\e9c7";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-soundoff .path3:before {
    content: "\e9c8";
    margin-left: -1em;
}

.icon-soundon .path1:before {
    content: "\e9c9";
    opacity: 0.2;
}

.icon-soundon .path2:before {
    content: "\e9ca";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-soundon .path3:before {
    content: "\e9cb";
    margin-left: -1em;
}

.icon-sphere .path1:before {
    content: "\e9cc";
    opacity: 0.3;
}

.icon-sphere .path2:before {
    content: "\e9cd";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-sphere .path3:before {
    content: "\e9ce";
    margin-left: -1em;
}

.icon-spotlight .path1:before {
    content: "\e9cf";
    opacity: 0.2;
}

.icon-spotlight .path2:before {
    content: "\e9d0";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-spotlight .path3:before {
    content: "\e9d1";
    margin-left: -1em;
}

.icon-standard .path1:before {
    content: "\e9d2";
    color: rgb(255, 255, 255);
}

.icon-standard .path2:before {
    content: "\e9d3";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-standard .path3:before {
    content: "\e9d4";
    margin-left: -1em;
}

.icon-template .path1:before {
    content: "\e9d5";
    opacity: 0.2;
}

.icon-template .path2:before {
    content: "\e9d6";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-template .path3:before {
    content: "\e9d7";
    margin-left: -1em;
}

.icon-text .path1:before {
    content: "\e9d8";
}

.icon-text .path2:before {
    content: "\e9d9";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-text .path3:before {
    content: "\e9da";
    margin-left: -1em;
}

.icon-texture:before {
    content: "\e9db";
}

.icon-twitter:before {
    content: "\e9dc";
}

.icon-ungroup .path1:before {
    content: "\e9dd";
    opacity: 0.2;
}

.icon-ungroup .path2:before {
    content: "\e9de";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-ungroup .path3:before {
    content: "\e9df";
    margin-left: -1em;
}

.icon-unlock .path1:before {
    content: "\e9e0";
}

.icon-unlock .path2:before {
    content: "\e9e1";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-unlock .path3:before {
    content: "\e9e2";
    margin-left: -1em;
}

.icon-unvisible .path1:before {
    content: "\e9e3";
    opacity: 0.2;
}

.icon-unvisible .path2:before {
    content: "\e9e4";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-unvisible .path3:before {
    content: "\e9e5";
    margin-left: -1em;
}

.icon-validate .path1:before {
    content: "\e9e6";
}

.icon-validate .path2:before {
    content: "\e9e7";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-validate .path3:before {
    content: "\e9e8";
    margin-left: -1em;
}

.icon-video .path1:before {
    content: "\e9e9";
    opacity: 0.2;
}

.icon-video .path2:before {
    content: "\e9ea";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-video .path3:before {
    content: "\e9eb";
    margin-left: -1em;
}

.icon-visible .path1:before {
    content: "\e9ec";
    opacity: 0.2;
}

.icon-visible .path2:before {
    content: "\e9ed";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-visible .path3:before {
    content: "\e9ee";
    margin-left: -1em;
}

.icon-water .path1:before {
    content: "\e9ef";
}

.icon-water .path2:before {
    content: "\e9f0";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-water .path3:before {
    content: "\e9f1";
    margin-left: -1em;
}

.icon-zoomin .path1:before {
    content: "\e9f2";
    color: rgb(255, 255, 255);
}

.icon-zoomin .path2:before {
    content: "\e9f3";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-zoomin .path3:before {
    content: "\e9f4";
    margin-left: -1em;
}

.icon-zoomout .path1:before {
    content: "\e9f5";
}

.icon-zoomout .path2:before {
    content: "\e9f6";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-zoomout .path3:before {
    content: "\e9f7";
    margin-left: -1em;
}
