@font-face {
    font-family: 'icomoon';
    src: url('https://asset.naker.io/font/engine/v3/icomoon.eot?au4g1p');
    src: url('https://asset.naker.io/font/engine/v3/icomoon.eot?au4g1p#iefix') format('embedded-opentype'),
        url('https://asset.naker.io/font/engine/v3/icomoon.ttf?au4g1p') format('truetype'),
        url('https://asset.naker.io/font/engine/v3/icomoon.woff?au4g1p') format('woff'),
        url('https://asset.naker.io/font/engine/v3/icomoon.svg?au4g1p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Horizontal:before {
    content: "\e901";
}

.icon-Vertical:before {
    content: "\e905";
}

.icon-scroll:before {
    content: "\e900";
}

.icon-carrd:before {
    content: "\e902";
}

.icon-facebook:before {
    content: "\e903";
}

.icon-linkedin:before {
    content: "\e904";
}

.icon-pinterest:before {
    content: "\e906";
}

.icon-save:before {
    content: "\e907";
}

.icon-sharethis:before {
    content: "\e908";
}

.icon-telegram:before {
    content: "\e909";
}

.icon-twitter:before {
    content: "\e90a";
}

.icon-upload:before {
    content: "\e90b";
}

.icon-vk:before {
    content: "\e90c";
}

.icon-webflow .path1:before {
    content: "\e90d";
}

.icon-webflow .path2:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-Wix .path1:before {
    content: "\e90f";
    color: rgb(251, 189, 113);
}

.icon-Wix .path2:before {
    content: "\e910";
    margin-left: -1em;
}

.icon-Wix .path3:before {
    content: "\e911";
    margin-left: -1em;
}

.icon-Wix .path4:before {
    content: "\e912";
    margin-left: -1em;
}

.icon-wordpress:before {
    content: "\e913";
}

.icon-Caption-Down:before {
    content: "\e914";
}

.icon-Caption-Left:before {
    content: "\e915";
}

.icon-Caption-Middle-H:before {
    content: "\e916";
}

.icon-Caption-Middle-V:before {
    content: "\e917";
}

.icon-Caption-Right:before {
    content: "\e918";
}

.icon-Caption-Top:before {
    content: "\e919";
}

.icon-click:before {
    content: "\e91a";
}

.icon-copypaste:before {
    content: "\e91b";
}

.icon-fullscreen:before {
    content: "\e91c";
}

.icon-Gizmo:before {
    content: "\e91d";
}

.icon-hd .path1:before {
    content: "\e91e";
}

.icon-hd .path2:before {
    content: "\e91f";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-hd .path3:before {
    content: "\e920";
    margin-left: -1em;
}

.icon-Home:before {
    content: "\e921";
}

.icon-Interactivity-Preset:before {
    content: "\e922";
}

.icon-interactivity-rotation:before {
    content: "\e923";
}

.icon-interactivity-show:before {
    content: "\e924";
}

.icon-Mouse-Move:before {
    content: "\e925";
}

.icon-Move:before {
    content: "\e926";
}

.icon-Scale:before {
    content: "\e927";
}

.icon-X-Y-Z-axis:before {
    content: "\e928";
}

.icon-add .path1:before {
    content: "\e929";
}

.icon-add .path2:before {
    content: "\e92a";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-add .path3:before {
    content: "\e92b";
    margin-left: -1em;
}

.icon-alternate:before {
    content: "\e92c";
}

.icon-analytics .path1:before {
    content: "\e92d";
    opacity: 0.3;
}

.icon-analytics .path2:before {
    content: "\e92e";
    margin-left: -1em;
}

.icon-analytics .path3:before {
    content: "\e92f";
    margin-left: -1em;
}

.icon-analytics .path4:before {
    content: "\e930";
    margin-left: -1em;
}

.icon-analytics .path5:before {
    content: "\e931";
    margin-left: -1em;
}

.icon-analytics .path6:before {
    content: "\e932";
    margin-left: -1em;
}

.icon-analytics .path7:before {
    content: "\e933";
    margin-left: -1em;
}

.icon-analytics .path8:before {
    content: "\e934";
    margin-left: -1em;
    opacity: 0.3;
}

.icon-analytics .path9:before {
    content: "\e935";
    margin-left: -1em;
    opacity: 0.3;
}

.icon-back:before {
    content: "\e936";
}

.icon-close .path1:before {
    content: "\e937";
}

.icon-close .path2:before {
    content: "\e938";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-close .path3:before {
    content: "\e939";
    margin-left: -1em;
}

.icon-collapse:before {
    content: "\e93a";
}

.icon-color .path1:before {
    content: "\e93b";
    opacity: 0.2;
}

.icon-color .path2:before {
    content: "\e93c";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-color .path3:before {
    content: "\e93d";
    margin-left: -1em;
}

.icon-cube .path1:before {
    content: "\e93e";
    opacity: 0.3;
}

.icon-cube .path2:before {
    content: "\e93f";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-cube .path3:before {
    content: "\e940";
    margin-left: -1em;
}

.icon-cubemap .path1:before {
    content: "\e941";
    opacity: 0.2;
}

.icon-cubemap .path2:before {
    content: "\e942";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-cubemap .path3:before {
    content: "\e943";
    margin-left: -1em;
}

.icon-cylinder .path1:before {
    content: "\e944";
    opacity: 0.3;
}

.icon-cylinder .path2:before {
    content: "\e945";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-cylinder .path3:before {
    content: "\e946";
    margin-left: -1em;
}

.icon-delete .path1:before {
    content: "\e947";
}

.icon-delete .path2:before {
    content: "\e948";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-delete .path3:before {
    content: "\e949";
    margin-left: -1em;
}

.icon-directional .path1:before {
    content: "\e94a";
    opacity: 0.2;
}

.icon-directional .path2:before {
    content: "\e94b";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-directional .path3:before {
    content: "\e94c";
    margin-left: -1em;
}

.icon-disc .path1:before {
    content: "\e94d";
    color: rgb(255, 255, 255);
}

.icon-disc .path2:before {
    content: "\e94e";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-disc .path3:before {
    content: "\e94f";
    margin-left: -1em;
}

.icon-dive:before {
    content: "\e950";
}

.icon-drupal:before {
    content: "\e951";
}

.icon-duplicate .path1:before {
    content: "\e952";
}

.icon-duplicate .path2:before {
    content: "\e953";
    margin-left: -1em;
}

.icon-duplicate .path3:before {
    content: "\e954";
    margin-left: -1em;
}

.icon-duplicate .path4:before {
    content: "\e955";
    margin-left: -1em;
}

.icon-duplicate .path5:before {
    content: "\e956";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-duplicate .path6:before {
    content: "\e957";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-enter:before {
    content: "\e958";
}

.icon-expand:before {
    content: "\e959";
}

.icon-exportvideo .path1:before {
    content: "\e95a";
    opacity: 0.2;
}

.icon-exportvideo .path2:before {
    content: "\e95b";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-exportvideo .path3:before {
    content: "\e95c";
    margin-left: -1em;
}

.icon-forward:before {
    content: "\e95d";
}

.icon-group .path1:before {
    content: "\e95e";
    opacity: 0.2;
}

.icon-group .path2:before {
    content: "\e95f";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-group .path3:before {
    content: "\e960";
    margin-left: -1em;
}

.icon-heightmap .path1:before {
    content: "\e961";
    opacity: 0.3;
}

.icon-heightmap .path2:before {
    content: "\e962";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-heightmap .path3:before {
    content: "\e963";
    margin-left: -1em;
}

.icon-help .path1:before {
    content: "\e964";
}

.icon-help .path2:before {
    content: "\e965";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-help .path3:before {
    content: "\e966";
    margin-left: -1em;
}

.icon-hotspot .path1:before {
    content: "\e967";
}

.icon-hotspot .path2:before {
    content: "\e968";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-hotspot .path3:before {
    content: "\e969";
    margin-left: -1em;
}

.icon-hover:before {
    content: "\e96a";
}

.icon-image .path1:before {
    content: "\e96b";
    opacity: 0.2;
}

.icon-image .path2:before {
    content: "\e96c";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-image .path3:before {
    content: "\e96d";
    margin-left: -1em;
}

.icon-intalemenu .path1:before {
    content: "\e96e";
}

.icon-intalemenu .path2:before {
    content: "\e96f";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-intalemenu .path3:before {
    content: "\e970";
    margin-left: -1em;
}

.icon-left:before {
    content: "\e971";
}

.icon-light .path1:before {
    content: "\e972";
    opacity: 0.2;
}

.icon-light .path2:before {
    content: "\e973";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-light .path3:before {
    content: "\e974";
    margin-left: -1em;
}

.icon-like .path1:before {
    content: "\e975";
}

.icon-like .path2:before {
    content: "\e976";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-like .path3:before {
    content: "\e977";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-link:before {
    content: "\e978";
}

.icon-lock .path1:before {
    content: "\e979";
}

.icon-lock .path2:before {
    content: "\e97a";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-lock .path3:before {
    content: "\e97b";
    margin-left: -1em;
}

.icon-logo_tilda_black:before {
    content: "\e97c";
}

.icon-loop:before {
    content: "\e97d";
}

.icon-menu:before {
    content: "\e97e";
}

.icon-model .path1:before {
    content: "\e97f";
    opacity: 0.3;
}

.icon-model .path2:before {
    content: "\e980";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-model .path3:before {
    content: "\e981";
    margin-left: -1em;
}

.icon-none:before {
    content: "\e982";
}

.icon-once:before {
    content: "\e983";
}

.icon-pause .path1:before {
    content: "\e984";
}

.icon-pause .path2:before {
    content: "\e985";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-pause .path3:before {
    content: "\e986";
    margin-left: -1em;
}

.icon-performance .path1:before {
    content: "\e987";
}

.icon-performance .path2:before {
    content: "\e988";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-performance .path3:before {
    content: "\e989";
    margin-left: -1em;
}

.icon-person .path1:before {
    content: "\e98a";
}

.icon-person .path2:before {
    content: "\e98b";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-person .path3:before {
    content: "\e98c";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-picture .path1:before {
    content: "\e98d";
    opacity: 0.2;
}

.icon-picture .path2:before {
    content: "\e98e";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-picture .path3:before {
    content: "\e98f";
    margin-left: -1em;
}

.icon-plane .path1:before {
    content: "\e990";
    color: rgb(255, 255, 255);
}

.icon-plane .path2:before {
    content: "\e991";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-plane .path3:before {
    content: "\e992";
    margin-left: -1em;
}

.icon-play .path1:before {
    content: "\e993";
    opacity: 0.2;
}

.icon-play .path2:before {
    content: "\e994";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-play .path3:before {
    content: "\e995";
    margin-left: -1em;
}

.icon-point .path1:before {
    content: "\e996";
    opacity: 0.2;
}

.icon-point .path2:before {
    content: "\e997";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-point .path3:before {
    content: "\e998";
    margin-left: -1em;
}

.icon-pointofview .path1:before {
    content: "\e999";
    opacity: 0.3;
}

.icon-pointofview .path2:before {
    content: "\e99a";
    margin-left: -1em;
    opacity: 0.3;
}

.icon-pointofview .path3:before {
    content: "\e99b";
    margin-left: -1em;
}

.icon-preview .path1:before {
    content: "\e99c";
    opacity: 0.2;
}

.icon-preview .path2:before {
    content: "\e99d";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-preview .path3:before {
    content: "\e99e";
    margin-left: -1em;
}

.icon-projects:before {
    content: "\e99f";
}

.icon-publish:before {
    content: "\e9a0";
}

.icon-right:before {
    content: "\e9a1";
}

.icon-rotate:before {
    content: "\e9a2";
}

.icon-search .path1:before {
    content: "\e9a3";
    opacity: 0.2;
}

.icon-search .path2:before {
    content: "\e9a4";
    margin-left: -1em;
}

.icon-searching .path1:before {
    content: "\e9a5";
    opacity: 0.2;
}

.icon-searching .path2:before {
    content: "\e9a6";
    margin-left: -1em;
}

.icon-shadowoff .path1:before {
    content: "\e9a7";
    opacity: 0.2;
}

.icon-shadowoff .path2:before {
    content: "\e9a8";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-shadowoff .path3:before {
    content: "\e9a9";
    margin-left: -1em;
}

.icon-shadowon .path1:before {
    content: "\e9aa";
}

.icon-shadowon .path2:before {
    content: "\e9ab";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-shadowon .path3:before {
    content: "\e9ac";
    margin-left: -1em;
}

.icon-shortcuts:before {
    content: "\e9ad";
}

.icon-show .path1:before {
    content: "\e9ae";
    opacity: 0.2;
}

.icon-show .path2:before {
    content: "\e9af";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-show .path3:before {
    content: "\e9b0";
    margin-left: -1em;
}

.icon-sound .path1:before {
    content: "\e9b1";
}

.icon-sound .path2:before {
    content: "\e9b2";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-sound .path3:before {
    content: "\e9b3";
    margin-left: -1em;
}

.icon-soundoff .path1:before {
    content: "\e9b4";
    opacity: 0.2;
}

.icon-soundoff .path2:before {
    content: "\e9b5";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-soundoff .path3:before {
    content: "\e9b6";
    margin-left: -1em;
}

.icon-soundon .path1:before {
    content: "\e9b7";
    opacity: 0.2;
}

.icon-soundon .path2:before {
    content: "\e9b8";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-soundon .path3:before {
    content: "\e9b9";
    margin-left: -1em;
}

.icon-sphere .path1:before {
    content: "\e9ba";
    opacity: 0.3;
}

.icon-sphere .path2:before {
    content: "\e9bb";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-sphere .path3:before {
    content: "\e9bc";
    margin-left: -1em;
}

.icon-spotlight .path1:before {
    content: "\e9bd";
    opacity: 0.2;
}

.icon-spotlight .path2:before {
    content: "\e9be";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-spotlight .path3:before {
    content: "\e9bf";
    margin-left: -1em;
}

.icon-standard .path1:before {
    content: "\e9c0";
    color: rgb(255, 255, 255);
}

.icon-standard .path2:before {
    content: "\e9c1";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-standard .path3:before {
    content: "\e9c2";
    margin-left: -1em;
}

.icon-template .path1:before {
    content: "\e9c3";
    opacity: 0.2;
}

.icon-template .path2:before {
    content: "\e9c4";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-template .path3:before {
    content: "\e9c5";
    margin-left: -1em;
}

.icon-text .path1:before {
    content: "\e9c6";
}

.icon-text .path2:before {
    content: "\e9c7";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-text .path3:before {
    content: "\e9c8";
    margin-left: -1em;
}

.icon-texture:before {
    content: "\e9c9";
}

.icon-ungroup .path1:before {
    content: "\e9ca";
    opacity: 0.2;
}

.icon-ungroup .path2:before {
    content: "\e9cb";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-ungroup .path3:before {
    content: "\e9cc";
    margin-left: -1em;
}

.icon-unlock .path1:before {
    content: "\e9cd";
}

.icon-unlock .path2:before {
    content: "\e9ce";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-unlock .path3:before {
    content: "\e9cf";
    margin-left: -1em;
}

.icon-unvisible .path1:before {
    content: "\e9d0";
    opacity: 0.2;
}

.icon-unvisible .path2:before {
    content: "\e9d1";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-unvisible .path3:before {
    content: "\e9d2";
    margin-left: -1em;
}

.icon-validate .path1:before {
    content: "\e9d3";
}

.icon-validate .path2:before {
    content: "\e9d4";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-validate .path3:before {
    content: "\e9d5";
    margin-left: -1em;
}

.icon-video .path1:before {
    content: "\e9d6";
    opacity: 0.2;
}

.icon-video .path2:before {
    content: "\e9d7";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-video .path3:before {
    content: "\e9d8";
    margin-left: -1em;
}

.icon-visible .path1:before {
    content: "\e9d9";
    opacity: 0.2;
}

.icon-visible .path2:before {
    content: "\e9da";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-visible .path3:before {
    content: "\e9db";
    margin-left: -1em;
}

.icon-zoomin .path1:before {
    content: "\e9dc";
    color: rgb(255, 255, 255);
}

.icon-zoomin .path2:before {
    content: "\e9dd";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-zoomin .path3:before {
    content: "\e9de";
    margin-left: -1em;
}

.icon-zoomout .path1:before {
    content: "\e9df";
}

.icon-zoomout .path2:before {
    content: "\e9e0";
    margin-left: -1em;
    opacity: 0.2;
}

.icon-zoomout .path3:before {
    content: "\e9e1";
    margin-left: -1em;
}

.icon-Squarespace:before {
    content: "\e9e2";
}