
@import 'colors'

$defaultwithinput: 108px
$defaultleftinput: 138px
$defaultborderradius: 3px

/***************************************** INPUT ****************************************

input:focus, select:focus
  outline: 0px

\::placeholder
  color: $colortext
  opacity: 1

\::-webkit-input-placeholder
  color: $colortext

\::-moz-placeholder
  color: $colortext

\:-ms-input-placeholder
  color: $colortext

\:-moz-placeholder
  color: $colortext

.title
  color: $colorsecondtext
  background: $colormain
  position: relative
  padding: 10px

label
  color: $colorsecondtext
  font-size: 12px
  z-index: 0
  text-transform: capitalize
  position: relative

.input-container
  position: relative
  width: 250px
  right: 6px
  min-height: 25px
  margin: 0px 0px 2px 0px

.input-container-big
  min-height: 45px

.container-height-auto
  height: auto

.input-parameter
  position: absolute
  height: 22px
  left: $defaultleftinput

.input-parameter-first
  position: absolute
  height: 22px
  left: $defaultleftinput

.input-parameter-second
  position: absolute
  height: 22px
  left: $defaultleftinput - 65px

.input-paragraph
  position: relative
  top: 0px
  height: 250px
  left: 15px
  width: 230px
  font-size: 12px
  line-height: 20px
  padding-left: 5px

.input-count
  position: absolute
  bottom: 5px
  right: 10px
  z-index: 10

.input-button
  position: relative
  line-height: 20px
  height: 20px
  line-height: 20px
  font-size: 13px
  left: 55px
  width: 150px
  top: 2px
  margin-top: 10px
  background-color: $colormain !important
  transition: all 200ms ease

.input-label
  position: absolute
  left: 12px
  top: 4px
  height: 25px
  color: $colortext
  font-size: 13px
  // text-transform: capitalize
  &::first-letter
    text-transform: uppercase

.input-label-paragraph
  position: relative !important

.vector-container
  position: relative
  width: 150px
  height: 22px
  left: $defaultleftinput - 52px
  top: 1px

/***************************************** BUTTON ****************************************
.button
  position: relative
  left: 10px
  top: 0px
  width: 180px
  height: 20px
  font-size: 10px
  float: 'center'
  color: $colortext
  background: $colorthirdgrey
  border-radius: 5px

.small-icon-button
  position: relative
  left: 10px
  top: 0px
  width: 18px
  height: 18px
  font-size: 12
  color: $colortext
  background: $colorthirdgrey
  border-radius: 10px
  z-index: 10

.siimple-btn
  .path1:before
    transition: color 200ms ease
    color: $colortext
  .path2:before
    color: $colortext
    transition: all 200ms ease
  .path3:before
    transition: color 200ms ease
    color: $colortext

  &:hover
    .path1:before
      color: $colordarkgrey
    .path2:before
      color: $colordarkgrey
    .path3:before
      color: $colordarkgrey

.path1:before
  color: inherit
.path2:before
  color: inherit
.path3:before
  color: inherit

/***************************************** TEXT/NUMBER ****************************************

textarea
    font-size: 12px
    color: $colortext
    background: $colorthirdgrey
    border: 0px
    border-radius: $defaultborderradius
    height: 22px
    padding-left: 5px
    padding-right: 0px
    z-index: 2

input
  &[type="text"], &[type="number"]
    font-size: 12px
    color: $colortext
    background: $colorthirdgrey
    border: 0px
    border-radius: $defaultborderradius
    height: 22px
    padding-left: 5px
    padding-right: 0px
    z-index: 2
    // transition: all 200ms ease
    &:focus
      background: $colormain

input
  &[changed="true"]
      border: 2px solid $colormain


.input-text
  max-width: 200px
  left: $defaultleftinput
  width: $defaultwithinput

textarea
  resize: none
  outline: none

input
  &[type="number"]
    -moz-appearance: textfield
    &:hover, &:focus
      -moz-appearance: number-input
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
      -webkit-appearance: none
      width: 5px
      margin: 0
    &:focus
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
        -webkit-appearance: inner-spin-button

.input-unit
  position: absolute
  top: 4px
  font-size: 12px
  z-index: 50
  background: $colorthirdgrey
  text-align: center
  color: $colorlightgrey

.vector-input
  margin-right: 5px
  position: absolute

/***************************************** RANGE ****************************************

input[type=range]
  -webkit-appearance: none
  width: 230px
  left: 13px
  background: none
  top: 20px
  z-index: 2
  &:focus
    outline: none
  &::-webkit-slider-runnable-track
    width: 100%
    height: 6px
    cursor: pointer
    background: $colorthirdgrey
    border-radius: 25px
    border: 0px solid rgba(1, 1, 1, 0)
  &::-webkit-slider-thumb
    height: 14px
    width: 14px
    border-radius: 7px
    background: $colormain
    cursor: pointer
    -webkit-appearance: none
    margin-top: -4px
  &:focus::-webkit-slider-runnable-track
    background: $colorthirdgrey
  &::-moz-range-track
    width: 100%
    height: 6px
    cursor: pointer
    background: $colorthirdgrey
    border-radius: 25px
    border: 0px solid rgba(1, 1, 1, 0)
  &::-moz-range-thumb
    height: 14px
    width: 14px
    border-radius: 7px
    background: $colormain
    cursor: pointer
  &::-ms-track
    width: 100%
    height: 6px
    cursor: pointer
    background: transparent
    border-color: transparent
    color: transparent
  &::-ms-fill-lower
    background: $colormain
    border: 0px solid rgba(1, 1, 1, 0)
    border-radius: 50px
  &::-ms-fill-upper
    background: $colorthirdgrey
    border: 0px solid rgba(1, 1, 1, 0)
    border-radius: 50px
  &::-ms-thumb
    height: 14px
    width: 14px
    border-radius: 7px
    background: $colormain
    cursor: pointer
    height: 6px
  &:focus
    &::-ms-fill-lower
      background: $colorthirdgrey
    &::-ms-fill-upper
      background: $colormain

.rangenumber
  left: 205px
  width: 40px


/***************************************** PICKERS ****************************************

.picker
  background: $colortext
  border-radius: 10px
  z-index: 200

.picker-title
  left: 0px
  top: 0px
  width: calc(100% - 5px)
  height: 20px
  line-height: 20px
  padding-left: 5px
  font-size: 15px
  text-transform: capitalize
  color: $colortext
  border-radius: 5px 5px 0px 0px
  background-color: $colormain

.color-picker
  box-shadow: 0px 0px 10px 2px $colordarkgrey
  position: absolute
  width: 350px
  height: 270px
  display: inline-block

.a-color-picker
  position: absolute
  top: 20px
  width: 245px !important
  margin: 0px
  padding: 4px !important
  background-color: #FFFFFF !important
  box-shadow: none !important
  height: calc(100% - 20px)
  input
    border: 1px solid $colorthirdgrey
    width: 35px

.a-color-picker-row
  padding: 2px !important
  border-top: none !important

.a-color-picker-transparent
  background-size: auto !important
  background-image: url(data:image/png;base64,R0lGODdhCgAKAPAAAOXl5f///ywAAAAACgAKAEACEIQdqXt9GxyETrI279OIgwIAOw==) !important

.a-color-picker-alpha
  background-size: auto !important
  background-image: url(data:image/png;base64,R0lGODdhCgAKAPAAAOXl5f///ywAAAAACgAKAEACEIQdqXt9GxyETrI279OIgwIAOw==) !important

.a-color-picker-palette-background
  position: absolute
  right: 0px
  top: 20px
  width: 105px
  height: calc(100% - 20px)
  background: $colortext
  border-radius: 0px 0px 5px 0px

.a-color-picker-palette
  position: absolute
  left: 245px
  width: 100px !important
  top: 0px

.a-color-picker-palette-color
  width: 25px !important
  height: 25px !important
  line-height: 25px !important
  flex: 0 1 25px !important
  font-size: 22px !important
  background-image: url(data:image/png;base64,R0lGODdhCgAKAPAAAOXl5f///ywAAAAACgAKAEACEIQdqXt9GxyETrI279OIgwIAOw==)
  &::after
    content: ""
    height: 100%
    width: 100%
    background-size: auto
    display: block
    background-color: inherit
    border-radius: $defaultborderradius

.a-color-picker-palette-add
  background-image: none

.a-color-picker-hsl>label, .a-color-picker-rgb>label, .a-color-picker-single-input>label
  color: $colorgrey !important
  font-family: 'Raleway'
  font-weight: 600

.color-background
  width: 100%
  height: 100%

.color-default-background
  background-size: auto !important
  background-image: url(data:image/png;base64,R0lGODdhCgAKAPAAAOXl5f///ywAAAAACgAKAEACEIQdqXt9GxyETrI279OIgwIAOw==) !important

.erase-icon
  display: inline-block
  position: relative
  cursor: pointer
  font-size: 16px
  top: 2px
  left: 46px
  color:$colorthirdgrey
.erase-icon[active='true']
    color:$colormain

.asset-picker
  position: absolute
  top: 62px
  left: 2px
  height: calc(100% - 62px)
  width: calc(100% - 250px)
  display: block
  background: $colordarkgrey
  color: $colormain
  overflow: hidden auto
  z-index: 200

.asset-button
  position: relative
  width: 80px
  height: 80px
  border: 3px
  background: $colorgrey
  color: $colormain
  margin: 5px
  margin-left: 7px
  display: inline-block
  float: left
  padding: 5px
  overflow-wrap: break-word
  cursor: pointer
  background-size: cover
  &:hover
    background: $colorthirdgrey

.delete-asset-button
  position: absolute
  left: 78px
  padding: 3px
  top: -3px
  width: 9px
  height: 9px
  font-size: 9px
  background: $colorgrey
  color: $colormain
  border-radius: 8px
  z-index: 11

.picker-button
  position: absolute
  left: 66px
  border: 2px solid $colorthirdgrey
  width: 36px
  height: 16px
  border-radius: $defaultborderradius
  border-color: $colorthirdgrey
  cursor: pointer

.picker-button[active='true']
    border-color: $colormain


/***************************************** IMAGE ASSET BUTTON ****************************************

.input-asset-image
  position: relative
  height: auto
  min-height: 30px
  margin-bottom: 8px
  background: $colordarkgrey
  cursor: pointer
  width: $defaultwithinput
  &:hover
    .image-hover
      opacity: 1

.image-hover
  position: absolute
  background: transparentize($colormain, .2)
  width: 100%
  height: 80%
  padding-top: 20%
  opacity: 0
  z-index: 10
  text-align: center
  line-height: 30px
  color: $colortext
  transition: opacity 200ms ease

.image-hover-text
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 100%
  height: auto
  padding: 5px
  overflow: hidden


/***************************************** IMAGE ASSET BUTTON ****************************************

.input-asset-text
  position: relative
  height: auto
  min-height: 22px
  margin-bottom: 8px
  cursor: pointer
  width: $defaultwithinput
  font-size: 13px
  &:hover
    .text-hover
      opacity: 1

.text-hover
  position: absolute
  left: 22px
  background: $colormain
  border-radius: 5px
  height: auto
  width: $defaultwithinput - 30
  opacity: 0
  z-index: 10
  padding: 5px
  color: $colortext
  text-align: center
  transition: opacity 200ms ease
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.text-asset-name
  position: absolute
  left: 22px
  background: $colordarkgrey
  border-radius: 5px
  width: $defaultwithinput - 30
  height: auto
  padding: 5px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.text-erase-icon
  position: absolute
  cursor: pointer
  font-size: 16px
  top: 5px
  left: 0px

/***************************************** INVENTORY ****************************************

.inventory
  position: relative
  height: 150px
  margin-top: 10px
  border-top: 2px solid $colordarkgrey

.inventory-input
  position: relative
  left: 63px
  top: 3px
  color: $colortext
  background: $colorthirdgrey
  width: 172px
  height: 25px

.inventory-add-button
  position: absolute
  left: 10px
  top: 35px
  width: 45px
  height: 22px
  text-align: center
  line-height: 22px
  font-size: 16px
  color: $colorgrey
  background: $colormain
  border-radius: 5px
  z-index: 10

.inventory-container-list
  position: relative
  left: 10px
  top: 15px
  width: 225px
  height: 80px
  background-color: $colorthirdgrey
  overflow-x: hidden
  overflow-y: auto
  border-radius: 5px

.inventory-button-list
  position: relative
  left: 5px
  margin-top: 5px
  width: 210px
  height: 20px
  padding-left: 5px
  float: left
  font-size: 15px
  color: $colortext
  background: $colorgrey
  border-radius: 5px
  z-index: 10
  cursor: pointer

.inventory-button-delete
  color: $colormain
  font-size: 12px
  top: 4px
  cursor: pointer
