
@import '_colors'
@import '_variables'

/***************************************** INVENTORY ****************************************/

$inventoryMargin: 7px
.inventory
    position: relative
    height: 180px
    margin-top: 10px

.inventory-input-container
    display: none

.inventory-input
    position: relative !important
    left: 0px
    top: 0px !important
    width: calc(100% - #{$inventoryMargin}) !important
    margin-bottom: $inventoryMargin

.inventory-container-list
    position: relative
    // height: 84px
    background: $colorinputbackground
    overflow-x: hidden
    overflow-y: auto
    border-radius: $layerradius
    padding: $inventoryMargin 0px 0px $inventoryMargin
    margin-bottom: 5px

.inventory-button
    display: inline-block
    position: relative
    margin: 0px $inventoryMargin $inventoryMargin 0px
    padding: 0px 5px
    height: $presetsize
    width: calc(100% - 17px)
    line-height: $presetsize !important
    font-size: 15px
    z-index: 10

    div
        display: inline-block
    .inventory-button-delete
        display: none
        color: rgba($colorerror, 0.7)
        font-size: 15px
        font-weight: 800
        top: 0px
        padding-left: 3px
        right: -2px
        cursor: pointer
        &:hover
            color: $colorerror

.inventory-add-button
    font-size: 18px
    top: 2px
