
@import '_colors'
@import '_variables'

body
    font-family: 'Noto Sans', sans-serif
    font-size: 15px
    margin: auto
    overflow: hidden
    background: $colordarkgrey
    
/***************************************** LAYER ****************************************/

.bold
    font-weight: 600
   
.doublebold
    font-weight: 800

.action-panel
    position: fixed
    right: 0px
    width: 250px
    transition: all 100ms ease
    background: $colorgrey
    border-radius: $layerradius 0px 0px 0px
    overflow-y: auto
    overflow-x: hidden
    .sub-action-panel
        margin-block-end: 0em
        position: relative
        top: 0px
        border-radius: 0px

.layer-left
    position: fixed
    left: 0px
    width: 220px
    height: 100%
    transition: width 100ms ease
    border-radius: 0px $layerradius 0px 0px
    background: $colorgrey

.sub-action-panel
    position: fixed
    top: 0px
    right: 0px
    width: 250px
    height: 100%
    transition: all 100ms ease
    background: $colorgrey
    border-radius: $layerradius 0px 0px 0px
    transition: all ease 200ms

.layer-center-height
    position: absolute
    top: 50%
    transform: translateY(-50%)

.editor-scroll
    overflow-y: auto
    overflow-x: hidden
    &::-webkit-scrollbar
        width: 5px
        height: 5px
    &::-webkit-scrollbar-track
        border-radius: $radiusinput
        background: $colorgrey
    &::-webkit-scrollbar-thumb
        border-radius: $radiusinput
        background: $colormain
    // Firefox
    scrollbar-color: $colormain $colorgrey
    scrollbar-width: thin

.parameter-container
    z-index: 10
    background: $colorgrey

.parameter-list-container
    position: relative
    top: 0px
    right: 0px
    width: 250px
    height: calc(100% - 42px)
    z-index: 10

.parameter-group
    position: relative
    width: 250px
    height: auto
    top: 0px
    color: $colortext
    background: $colorgrey
    overflow: initial
    overflow-x: hidden

.parameter-border
    border-bottom: 2px solid $colordarkgrey
    padding-bottom: 10px
    
$titlePadding: 5px
.parameter-title
    position: relative
    font-size: 16px
    font-weight: 600
    width: calc(100% - #{$titlePadding * 2})
    padding: 10px $titlePadding
    color: $colortext
    height: 20px

.parameter-title::first-letter
    text-transform: uppercase

.switch-title
    padding-left: 16px

.title-expand
    position: absolute
    top: 15px
    font-size: 10px
    font-weight: 800
    cursor: pointer
    transition: all 200ms ease
    transform: rotateZ(0deg)

.parameter-subtitle
    position: relative
    font-size: 18px
    font-weight: 600
    width: 100%
    padding: 10px
    color: $colortext
    height: 20px
    border-top: 2px solid $colordarkgrey

.font-style-container
    position: relative
    width: 200px
    height: 100px