
@import '_colors'

/***************************************** MODAL ****************************************
.modal
    position: absolute
    width: 550px
    padding: 20px
    height: auto
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 10px
    background-color: $colorgrey
    color: $colorlight
    z-index: 40

.modal-background
    position: absolute
    display: none
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    background-color: $colordarkgrey
    opacity: 0
    z-index: 30
    cursor: auto

.modal-title
    position: relative
    top: 0px
    left: 0px
    font-size: 25px
    font-weight: 600
    width: 100%
    text-align: left
    height: auto
    padding-bottom: 10px
    &:after
        content: ""
        position: absolute
        top: 100%
        left: 0px
        width: 150px
        height: 3px
        border-radius: 2px
        background: $colormain

.modal-title-background
    position: relative
    left: 0px
    top: 0px
    width: 100%
    height: 60px
    opacity: 1
    border-radius: 5px 5px 0px 0px

.modal-description
    position: relative
    margin-top: 10px
    font-size: 18px
    width: 100%
    height: auto
    text-align: left
    line-height: 1.5

.modal-explanation
    font-size: 18px
    padding-bottom: 10px
    line-height: 1.5

.modal-content
    margin-top: 10px
    position: relative

.modal-icon
    position: absolute
    left: 15px
    top: 15px
    width: 40px
    height: 40px
    border: 0px
    z-index: 100
    color: $colormain
    float: center
    border-radius: 5px
    font-size: 30px

.modal-icon
    .path1:before
        color: $colormain
    .path2:before
        color: $colormain
    .path3:before
        color: $colormain

.modal-code
    position: relative
    width: auto
    height: auto
    padding: 10px
    margin-top: 10px
    border-radius: 5px
    background: $colordarkgrey
    color: $colorlight
    text-align: left
    word-wrap: break-word
    cursor: pointer

.modal-copied
    position: absolute
    width: 100%
    height: 100%
    top: 0px
    left: 0px
    border-radius: 5px
    line-height: 160px
    text-align: center
    background: rgba($colorsuccess, 0.9)

// .modal-close
//     position: absolute
//     top: 20px
//     right: 20px
//     font-size: 30px
//     cursor: pointer

.modal-input
    left: 0px
    position: relative !important

.modal-button
    margin: 10px
    float: right
    width: auto
    padding: 3px 20px

.modal-footer
    width: calc(100% - 60px)
    position: absolute
    padding: 10px 30px
    background: $colorthirdgrey
    left: 0px
    border-radius: 0px 0px 10px 10px
    margin-top: 10px


.modal-footer-icon
    position: relative
    display: inline-block
    cursor: pointer

.modal-footer-text
    display: inline
    margin-left: 10px
    cursor: pointer
    color: $colortext
    &:hover
        text-decoration: underline