
@import '_colors'
@import '_variables'

/***************************************** PICKERS ****************************************

$pickerborder: 4px

.picker
    border-radius: 10px
    z-index: 200

.picker-title
    left: 0px
    top: 0px
    width: calc(100% - 5px)
    height: 20px
    line-height: 20px
    padding-left: 5px
    font-size: 15px
    text-transform: capitalize
    color: $colortext
    border-radius: $borderradius $borderradius 0px 0px
    background-color: $colormain

.picker-title-text
    position:  absolute
    left: 10px

.erase-icon
    display: inline-block
    position: relative
    float: right
    cursor: pointer
    font-size: 18px
    top: 6px
    right: $widthinput + 5px
    color:$colorthirdgrey
.erase-icon[active='true']
    color:$colormain

.picker-button
    position: absolute
    right: 0px
    border: $pickerborder solid $colorthirdgrey
    width: #{$widthinput - $pickerborder * 2}
    height: #{$heightinput - $pickerborder * 2}
    border-radius: $borderradius
    border-color: $colorthirdgrey
    cursor: pointer

.picker-button[active='true']
    border-color: $colormain