
@import '_colors'
@import '_variables'

/***************************************** PICKERS ****************************************/

$pickerborder: 2px

.picker
    border-radius: 10px
    z-index: 200

.erase-icon
    display: inline-block
    position: relative
    float: right
    cursor: pointer
    font-size: 18px
    top: 6px
    right: $widthinput + 5px
    color: $colorsecondgrey
.erase-icon[active='true']
    color: $colormain

.picker-button
    position: absolute
    right: 0px
    border: $pickerborder solid $colordarkgrey
    width: #{$heightinput - $pickerborder * 2}
    height: #{$heightinput - $pickerborder * 2}
    border-radius: 5px
    cursor: pointer

.picker-button[active='true']
    border-color: $colormain
