
@import '_colors'

/***************************************** TAG MANAGER ****************************************

$tagPadding: 20px
.tag-container
    position: sticky
    width: calc(100% - #{2 * $tagPadding})
    height: auto
    top: 0px
    background: $colorgrey
    z-index: 100
    padding: $tagPadding
    border-bottom: 2px solid $colordarkgrey

    .input-container
        margin: 0px

    .tag-option-container
        position: relative
        display: inline-block
        top: 0px
        left: 0px
        width: 100%
        height: 30px
        font-size: 18px
        margin-top: 20px

        .tag-option-button
            position: absolute
            width: calc(50% - #{$tagPadding / 2})
            top: 0px
            color: $colortext
            display: inline-block
            z-index: 10
            float: left
            font-size: 17px

        .icon-delete
            background: rgba($colorerror, 0.3)

    .tag-input
        position: relative
        display: inline-block
        float: left
        left: 0px
        top: 0px
        width: 100% !important

    .copy-icon
        font-size: 20px
        right: 18px
        position: absolute
        top: 5px
        color: $colormain

