
@import '_colors'

/***************************************** TAG MANAGER ****************************************

.tag-container
    position: sticky
    width: 100%
    height: 20px
    top: 0px
    background: $colorgrey
    z-index: 100
    padding: 10px
    border-bottom: 2px solid $colordarkgrey

.tag-option-container
    position: relative
    display: inline-block
    float: right
    top: 0px
    right: 10px
    width: 100px
    height: 30px
    font-size: 18px
    color: $colorsecondtext

.tag-option-button
    font-size: 20px
    width: 30px
    top: 0px
    color: $colormain
    display: block
    z-index: 10

.tag-input
    position: relative
    display: inline-block
    float: left
    left: 0px
    top: 0px
    width: 140px
    height: 20px
    font-size: 14px !important
    color: $colorsecondtext
    background: $colorgrey
    font-weight: 600
    border: 0px

.tag-input[focus='true']
    background: $colorthirdgrey