
@import '_colors'

/***************************************** MODAL ****************************************
.tool-box
    position: absolute
    width: 300px
    height: auto
    top: 10px
    left: 10px
    border-radius: 5px
    overflow: hidden
    z-index: 4
    pointer-events: none

.tool-box div:first-child
    border-radius: 5px 5px 0px 0px !important

.tool-box div:last-child
    border-radius: 0px 0px 5px 5px !important

.tool-button
    position: relative
    width: 20px
    height: 20px
    padding: 5px
    background: $colordarkgrey
    float: center
    font-size: 20px
    pointer-events: visible
    opacity: 0.8
    transition: all 200ms ease
    cursor: pointer
    opacity: 0.8
    color: rgba($colormain, 0.8)
    &:hover
        color: rgba($colormain, 1)
        opacity: 1

.tool-button
    .path1:before
        color: $colordarkgrey
    .path2:before
        color: $colordarkgrey
    .path3:before
        color: $colordarkgrey
