
@import '_colors'
@import '_variables'

/***************************************** TOOLBOX ****************************************/

.tool-box
    position: absolute
    width: 300px
    height: auto
    top: 10px
    right: 10px
    border-radius: $layerradius
    overflow: hidden
    z-index: 4
    pointer-events: none

.tool-box div:first-child
    border-radius: 0px $layerradius $layerradius 0px !important

.tool-box div:last-child
    border-radius: $layerradius 0px 0px $layerradius !important

.tool-button
    position: relative
    width: 30px
    height: 30px
    background: $colorgrey
    color: $colortext
    float: right
    font-size: 17px
    text-align: center
    pointer-events: visible
    opacity: 0.8
    transition: all 200ms ease
    cursor: pointer
    &:hover
        opacity: 1
        background: rgba($colormain, 0.5)
    i
        line-height: 30px

.tool-success
    background: $colormain
    color: rgba($colordarkgrey, 1)

.tool-error
    background: $colorgrey

.perf-layer
    position: absolute
    bottom: 10px
    right: 10px
    width: 150px
    height: auto
    background: $colorsecondgrey
    z-index: 100
    border-radius: $layerradius
    padding: 5px
    margin: 0px

.perf-container
    width: 150px
    left: 0px
    color: $colortext
    background: $colorsecondgrey
    height: 25px
    padding: 0px
    border-bottom: none !important

.performance-label
    position: relative
    float: left
    left: 5px
    top: 3px

.performance-value
    position: relative
    float: right
    top: 0px
    font-size: 15px
    font-weight: 600

#gl-bench
    position: relative
    left: 6px
    top: 0
    z-index: 1000
    -webkit-user-select: none
    -moz-user-select: none
    user-select: none

    .gl-box
        position: relative
        display: block
        margin: 5px
        border-radius: $layerradius
        opacity: 0.9

    svg
        height: 95px
        margin: 0 -1px

    text
        font-size: 8px
        font-family: 'DM Sans', sans-serif
        dominant-baseline: middle
        text-anchor: middle
        fill: $colortext

    path
        fill: $colortext

    // .gl-mem
    //     font-size: 9px

    line
        stroke-width: 5
        stroke: $colormain
        stroke-linecap: round

    polyline
        fill: none
        stroke: $colormain
        stroke-linecap: round
        stroke-linejoin: round
        stroke-width: 2

    rect
        fill: $colordarkgrey

    .opacity
        stroke: $colordarkgrey

/***************************************** MICRO TOOLTIP ****************************************/

// [aria-label][role~="tooltip"]::before
//     background: none
//     pointer-events: none
[aria-label][role~="tooltip"]::after
    background: $colortext
    color: $colorsecondgrey
    max-height: 20px
    line-height: 20px
    border-radius: 20px
    pointer-events: none
    font-family: 'DM Sans', sans-serif
[role~="tooltip"]
    --microtip-font-size: 16px

// Change margin so that the tooltip is closer 
[role~="tooltip"][data-microtip-position|="top"]::after
    margin-bottom: 4px
[role~="tooltip"][data-microtip-position|="top"]::before
    margin-bottom: 0px
// [role~="tooltip"][data-microtip-position|="bottom"]::after
//     margin-top: 4px
[role~="tooltip"][data-microtip-position|="bottom"]::before
    margin-top: 6px
